.banner {
  position: relative;
  margin-top: 30px;
}

.banner_fix {
  padding-top: 50px;
}

.banner_slide {
  display: flex;
  gap: 25px;
}

.sw_banner {
  border-radius: 15px;
}

.banner_list {
  overflow: hidden;
  border-radius: 15px;
}
/* 이미지가 영역에 가득 채워지고 비율이 유지되도록 */
.banner_list img {
  display: block;
  width: 100%;
  height: 100%;
  /* 비율 유지, 영역에 가득채우기 */
  object-fit: cover;
}

.slide_bt_left {
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotateY(180deg);
}
.slide_bt_right {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

/* 반응형 코드 */
.sw_banner_pg {
  display: none;
  bottom: -25px !important;
}

@media all and (max-width: 1024px) {
  .sw_banner_pg {
    display: block;
  }
  /* 평상시 버튼 모습 */
  .sw_banner_pg .swiper-pagination-bullet {
    width: 6;
    height: 6;
    opacity: 0.6;
    background-color: #fff !important;
  }

  /* 포커스된 버튼 모습 */
  .sw_banner_pg .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #fff !important;
  }
}
@media all and (max-width: 960px) {
  .sw_banner {
    width: 350px;
  }
  .sw_banner_pg {
    bottom: 0 !important;
  }
}
