@charset "utf-8"; /* 화면에 표현되는 속성... 맨위에 놓을 것 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box; /* 박스 안으로 그리도록 */
  /* 레이아웃 만들기 전 작업 */
  margin: 0;
  padding: 0;
  outline-style: none;
  /* outline-style: none; < 탭누를 대마다 포커스 맞춰주는 아웃라인. 해도 괜찮고 안해도 괜찮음. */
} /* 전부 선택 : * */

/* 태그 선택 : 추천하는 각 태그별 기본값 */
a {
  text-decoration: none;
  /* 디자인 보고 수정 */
  color: #000000;
}
ul {
  list-style: none;
}
html {
  width: 100%;
  /* 디자인 보고 수정 */
  font-size: 16px;
}

body {
  width: 100%;
  /* 글꼴 필요 (앞 글꼴이 적용 안되면 뒤 글꼴로 - 배치순서) */
  font-family: "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
  font-size: 1rem; /* html 글자 크기의 배율만큼*/
  letter-spacing: 0px;
  /* 디자인 보고 수정 */
  color: #000000;
  word-spacing: 0px;
}

.wrap {
  width: 100%;
}

/* header가 fixed가 되면 강제로 padding 넣기 */
.main_fixed {
  padding-top: 150px;
}

.slide_bt {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  border: #e6e6e6;
  border-radius: 50%;
  box-shadow: 0 0 0.8px rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

/* swiper 버튼 비활성시 표현 */
.swiper-button-disabled {
  display: none !important;
}

.layout {
  /* min-width: 1024px; */
  width: 100%;
  /* 반응형! */
  max-width: 1280px;

  margin: 0 auto;
  /* → margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */
}

/* 빈응형 작업 */
@media screen and (max-width: 1280px) {
  .layout {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .layout {
    max-width: 760px;
  }
}
@media screen and (max-width: 760px) {
  .layout {
    max-width: 100%;
  }
}
