.tour {
  positon: relative;
  margin-top: 65px;
}
.section_top {
  padding-bottom: 22px;
}
.section_title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.section_desc {
  display: block;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.section_list {
}
.section_category {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.section_category_bts {
  display: flex;
  gap: 6px;
}
.section_category_bts li {
}
.section_category_bts li button {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 52px;
  transition: all 0.2s;
  cursor: pointer;
}

.section_category_bts li button.cate_focus {
  font-weight: 700;
  color: #ffffff;
  background-color: #333333;
  border: 1px solid #333333;
}

.section_slide {
  position: relative;
  margin-bottom: 20px;
}
.item {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.item > a {
}
.item_image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 25px;
}
.item_image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item_name {
  position: absolute;
  top: 235px;
  left: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1769ff;
  border-radius: 4px;
}
.item_coupon {
  display: block;
  /* 말줄임 처리 */
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #1769ff;
  /* 줄내림 방지 */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item_text {
  padding: 20px;
  padding-top: 5px;
}
.item_desc {
  display: block;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item_price {
  font-size: 16px;
  font-weight: 400;
}
.item_price > b {
  font-size: 20px;
  font-weight: 700;
}

.section_bts {
  display: flex;
  justify-content: center;
}
.section_bts > a {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  gap: 5px;
}
.section_bts > a > img {
  transform: translateY(1px);
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .tour {
    border-top: 8px solid #f4f4f4;
    margin-top: 50px;
    padding-top: 10px;
  }
  .tour .section_top {
    padding-bottom: 12px;
  }

  .tour .section_title {
    font-size: 21px;
  }
  .tour .section_desc {
    font-size: 15px;
  }
  .section_category_bts > li > button {
    padding: 9px 20px;
  }
  .tour .section_slide {
    min-width: 20px;
    overflow: hidden;
  }
  .tour .sw_banner {
    width: 1260px !important;
  }

  /* 반응형 슬라이드 높이 */
  .item {
    height: 240px !important;
  }
  .item_image {
    height: 138px !important;
    margin-bottom: 15px !important;
  }
  .item_name {
    top: 127px;
    left: 8px;
    padding: 3px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 4px;
  }
  .item_coupon {
  }
  .item_desc {
  }
  .item_price > b {*
    font-size: 14px;
  }
  .item_text {
    padding: 5px;
  }

  .section_bts > a {
    justify-content: center;
    width: 95%;
    padding: 15px, 20px;
    border-radius: 4px;
  }
}

/* @media all and (max-width: 960px) {
  .item {
    height: 222px !important;
  }
} */
